@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@TenantMNG.Resource.lock_out</h1>
    <h2 class="text-danger">@TenantMNG.Resource.msg_lock_out</h2>
</hgroup>
