<style>
    .borderline tr {
    }

        .borderline tr td {
            padding: 5px;
            min-height: 24px;
            line-height: 14px;
        }

        .borderline tr th {
            padding: 5px;
            min-height: 24px;
            line-height: 14px;
        }
</style>


<table>
    <tbody>#metername</tbody>
    <tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Consumo en Punta - #energyusage1 * $#energyrate1</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$#energyamt1</td>
    </tr>

    <tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Consumo en Intemedio - #energyusage2 * $#energyrate2</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$#energyamt2</td>
    </tr>
    <tr colspan="12">
        <td colspan="6" style="font-size: 12px; ">Consumo en Base - #energyusage3 * $#energyrate3</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$#energyamt3</td>
    </tr>
    <tr colspan="12">
        <td colspan="6" style="font-size: 12px;"> Cantidad de carga </td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$#toalamt</td>
    </tr>
    </table>
    <!--<tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Delivery Charges </td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$43.33</td>
    </tr>
    <tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Regulatory Charges</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$2.97</td>
    </tr>-->
    <!--<tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Debt Retirement Charge ($0.0076/kWh)</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$3.61</td>
    </tr>-->
    <!--<tr colspan="12">
        <td colspan="6" style="font-size: 12px;">HST</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">$12.47</td>
    </tr>-->
    <!--<tr colspan="12">
        <td colspan="6" style="font-size: 12px;">Ontario Clean Energy Benefit (-10%)</td>
        <td colspan="6" style="font-size: 12px; text-align: right;">($10.84)</td>
    </tr>
    <tr colspan="12" bgcolor="#ccc">
        <th colspan="6" style="font-size: 12px; text-align: left;">Total Charges This Invoice </th>
        <th colspan="6" style="font-size: 12px; text-align: right;">#totalamt</th>
    </tr>-->
    <!--<table width="100%">
        <tr>
            <td style="width:50%">
                <h4>
                    #metername
                </h4>
                <table style="width:100%;text-align:center;font-size:14px">
                    <tr class="header">
                        <td></td>
                        <td>Uso</td>
                        <td>Tarifa</td>
                        <td>Cantidad</td>

                    </tr>
                    <tr>
                        <td>Energia en punta</td>
                        <td>#energyusage1 </td>
                        <td>#energyrate1 </td>
                        <td>#energyamt1</td>

                    </tr>
                    <tr>
                        <td>Energia en intermedia</td>
                        <td>#energyusage2 </td>
                        <td>#energyrate2 </td>
                        <td>#energyamt2</td>

                    </tr>
                    <tr>
                        <td>Energia en base</td>
                        <td>#energyusage3 </td>
                        <td>#energyrate3</td>
                        <td>#energyamt3</td>

                    </tr>
                    <tr style="font-weight:bold;background-color:#DBE5F1;">
                        <td style="float:right">Total</td>
                        <td>#totaluse</td>
                        <td></td>
                        <td>#toalamt</td>

                    </tr>

                </table>

            </td>

        </tr>
    </table>-->
