<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice Generate Bill</title>
</head>
<style>
  .invoice-box {
        max-width: 900px;
        margin: auto;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    table {
        width: 100%;
      
    }

    .iconimg {
        margin: 0 auto;
        float: none;
        display: block;
    }

    .text-all {
        text-align: center;
    }

    .itemaccount th {
        font-size: 13px;
        line-height: 16px;
        padding: 5px;
    }

    .bgcolortr {
        background: #eee;
    }

        .bgcolortr td {
            font-size: 10px;
            text-align: center;
        }

    span.usebar {
        width: 142px;
        background: #b5a9a9;
        height: 9px;
        display: grid;
        margin: auto;
        position: relative;
    }

    .bgcolortrtp {
        background: transparent
    }

    .usebarbefore {
        width: 86px;
        background: #4a4646;
        height: 9px;
        display: grid;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .borderline tr {
    }

        .borderline tr td {
            padding: 5px;
            min-height: 24px;
            line-height: 14px;
        }

        .borderline tr th {
            padding: 5px;
            min-height: 24px;
            line-height: 14px;
        }

    .bgcolortr td {
        padding: 5px;
        min-height: 24px;
        line-height: 14px;
    }
</style>
<body>
    <div class="invoice-box">
        <table>
            <tr class="top">
                <td colspan="6">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="#hlogo" height="70" width="200" />
                            </td>
                            <td>
                                <h1>#Meterid</h1>
                            </td>

                            <!--<td style="font-size: 11px;line-height: 18px;">

                                <table>
                                    <tr>
                                        <td colspan="6" style="width: 30px;height: 30px;margin: 0 auto;float: none;display: block;">
                                            <span class="iconimg" style="width:30px; height: 30px;"><img src="#place" style="width:30px; height: 30px;"></span>
                                        </td>
                                        <td colspan="6" style="width: 100%; float: left;"><p class="text-all">Boulevard Manuel Avila Camacho 261<br>Miguel Hidalgo, CDMX<p></td>
                                    </tr>
                                </table>

                            </td>
                            <td style="font-size: 11px;line-height: 18px;">
                                <table>
                                    <tr>
                                        <td colspan="6" style="width: 30px;height: 30px;margin: 0 auto;float: none;display: block;">
                                            <span class="iconimg" style="width:30px; height: 30px;"><img src="#mail" style="width:30px; height: 30px;"></span>
                                        </td>
                                        <td colspan="6" style="width: 100%; float: left;"><p class="text-all"><a href="#">norberto.sanchez@puertapolanco.com.mx </a></p><br></td>
                                    </tr>
                                </table>
                            </td>-->
                            <!-- <td style="font-size: 11px;line-height: 18px;">
                        <table>
                            <tr>
                                <td colspan="6" style="width: 30px;height: 30px;margin: 0 auto;float: none;display: block;">
                                    <span class="iconimg" style="width:30px; height: 30px;"><img src="#web" style="width:30px; height: 30px;"></span>
                                </td>
                                <td colspan="6" style="width: 100%; float: left;">
                                    <p class="text-all"> <a href="#">www.accuenergy.com  </a></p><br>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td style="font-size: 11px;line-height: 18px;">
                        <table>
                            <tr>
                                <td colspan="6" style="width: 30px;height: 30px;margin: 0 auto;float: none;display: block;">
                                    <span class="iconimg" style="width:30px; height: 30px;"><img src="#fone" style="width:30px; height: 30px;"></span>
                                </td>
                                <td colspan="6" style="width: 100%; float: left;">
                                    <p class="text-all">1-877-721-8908 <br>Lu-Vi 9:00am to 5:00pm</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <span class="iconimg" style="width:50px; height: 50px;"><img src="#qr" style="width:50px; height: 50px;"></span>
                    </td>-->
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="top" bgcolor="#ccc" style="height: 1px">
                <td colspan="3">
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr colspan="12" width="100%">
                            <td colspan="12" width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse; padding:0px !important;    float: left;">
                                <table>
                                    <tr>
                                        <td style="font-style: italic;font-size: 12px;line-height: 17px;margin: 1em 0;    float: left;">
                                            <!--Welcome Message: this area is designed for property manager to deliver
                                    personal message to the resident (i.e. this is a resent bill, hydro rate
                                    change, etc)#Statementmonth #Tenantname-->
                                            Favor de realizar el pago de esta factura antes del día:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="border: 1px solid #000;">
                                                <tr>
                                                    <!--<th colspan="12" style="text-align: left;font-size: 11px;">Account Reading</th>-->
                                                    <th colspan="12" style="text-align: left;font-size: 11px;">Número de cuenta</th>
                                                </tr>
                                                <tr class="itemaccount" bgcolor="#ccc" style="">
                                                    <!--<th colspan="4">Account Number</th>-->
                                                    <!--<th colspan="4">Número de cuenta</th>-->
                                                    <!--<th colspan="4">Curremt Reading Date</th>-->
                                                    <th colspan="4">Fecha de Lectura del Medidor</th>
                                                    <!--<th colspan="4">Previous Reading Date</th>-->
                                                    <th colspan="4">Lectura Anterior</th>
                                                    <th colspan="4">Dias</th>
                                                </tr>

                                                <tr>

                                                    <!--<td style="font-size:10px;text-align:center;" colspan="4"></td>-->
                                                    <td style="font-size:10px; text-align:center;" colspan="4">#edate</td>
                                                    <td style="font-size:10px; text-align:center;" colspan="4">#sdate</td>
                                                    <td style="font-size:10px; text-align:center;" colspan="4">#days</td>
                                                </tr>


                                            </table>

                                        </td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <td>
                                            <table style="border: 1px solid #000;">

                                                <tr class="itemaccount" bgcolor="#ccc" style="">
                                                    <!--<th colspan="4">Meter Number</th>
                                            <th colspan="4">Meter Type</th>
                                            <th colspan="4">Current Reading</th>
                                            <th colspan="4">Previous Reading</th>
                                            <th colspan="4">Usage</th>
                                            <th colspan="4">Units</th>-->

                                                    <th colspan="4">Medición</th>
                                                    <th colspan="4">Lectura Actual</th>
                                                    <th colspan="4">Lectura Anterior</th>
                                                    <th colspan="4">Uso</th>
                                                    <th colspan="4">Unidades</th>
                                                </tr>
                                                #read
                                                <!--<tr>
                                            <td style="font-size:10px; text-align:center;" colspan="4">ME00987610</td>
                                            <td style="font-size:10px; text-align:center;" colspan="4">EL</td>
                                            <td style="font-size:10px; text-align:center;" colspan="4">#VaueMax</td>
                                            <td style="font-size:10px; text-align:center;" colspan="4">#VaueMin </td>
                                            <td style="font-size:10px; text-align:center;" colspan="4">#usese</td>
                                            <td style="font-size:10px; text-align:center;" colspan="4">kWh</td>
                                        </tr>-->


                                            </table>

                                        </td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <td>

                                            <table>
                                                <tr>
                                                    <th colspan="12" style="text-align: left;font-size: 13px;"><!--Electricity Usage History--> Historia de Consumo Eléctrico</th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr colspan="12" style="border: 1px solid #000;border-spacing: 0px;  display: grid;">
                                        <td colspan="12">
                                            <table style="border: 1px solid #000;">
                                                <tr colspan="12" class="itemaccount" bgcolor="#ccc" style="">
                                                    <th colspan="4">Período</th>
                                                    <th colspan="4">Días</th>
                                                    <!--<th colspan="4">kWh</th>-->
                                                    <th colspan="4">Utilización</th>
                                                </tr>
                                                <tr class="bgcolortr bgcolortrtp" bgcolor="transparent">
                                                    <td style="font-size:10px; text-align:center;" colspan="4">#edate - #sdate</td>
                                                    <td style="font-size:10px; text-align:center;" colspan="4">#days</td>
                                                    <!--<td style="font-size:10px; text-align:center;" colspan="4">#usese</td>-->
                                                    <!--<td colspan="4"><img src="#barimg" /></td>-->

                                                    <td colspan="4"><progress id="bar" max="10000" value="0"></progress></td>
                                                </tr>
                                                <!--<tr class="bgcolortr bgcolortrtp" bgcolor="transparent">
                                            <td style="font-size:10px;" colspan="4">11/01/2015 - 12/01/2015</td>
                                            <td style="font-size:10px;" colspan="4">31</td>
                                            <td style="font-size:10px;" colspan="4">473</td>
                                            <td style="font-size:10px;" colspan="4">
                                                <img src="#barimg" />
                                            </td>
                                        </tr>-->
                                            </table>
                                        </td>
                                    </tr>

                                </table>

                            </td>

                            <td colspan="6" width="50%">
                                <table>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr> <th>TOTAL A PAGAR: #ToPayAmount</th></tr>
                                            </table>
                                        </td>

                                    </tr>
                                    <tr bgcolor="#ccc">
                                        <td>
                                            <table>
                                                <tr> <td>#Piso </td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr> <td style="font-size: 12px; text-align: left; display: block;"> Inquilino : #Tenantname</td></tr>
                                                <tr> <td style="font-size: 12px; color: #a09f9f; font-style: italic;"> Fecha límite de pago: #Statement</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <table class="borderline">
                                                <tr colspan="12">
                                                    <th colspan="12" style="font-size: 12px; text-align: left;    margin-bottom: 0.5em;display: block;"><!--Charges Summary-->Factura Mensual de: #monthname</th>
                                                </tr>
                                                #meteridd
                                            </table>
                                        </td>
                                    </tr>

                                </table>
								
								<br />
								<br />
								
								<table class="borderline">
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">Suministro (Tarifa Operación)</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#suministrorate</th>
										<th colspan="6" style="font-size: 12px; text-align: right;border: 1px solid #000;">#preciosuministro</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">Distribución $kW</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#distribucionrate</th>
										<th colspan="6" style="font-size: 12px; text-align: right;border: 1px solid #000;">#preciodistribucion</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">Transmisión</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#transmisionrate</th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciotransmision</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">CENACE</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#ocenacerate</th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciocenace</th>
									</tr>
									<!--<tr colspan="12" bgcolor="#D0E4F5">
										<th colspan="6" style="font-size: 12px; text-align: left;">Energía</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#precioenergia</th>
									</tr>-->
									<tr colspan="12" bgcolor="#ED7D31" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left;">Energía Base</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energybase</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energybrate</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#benergytotal</th>
									</tr>
									<tr colspan="12" bgcolor="#FFC000" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left;">Energía Intermedia</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energyintermedia</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energyirate</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#ienergytotal</th>
									</tr>
									<tr colspan="12" bgcolor="#5B9BD5" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left;">Energía Punta</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energypunta</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#energyprate</th>
										<th colspan="6" style="font-size: 12px; text-align: right;">#penergytotal</th>										
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">Capacidad</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#capacidadrate</th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciocapacidad</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">SCnMEM</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#serviciosconexosrate</th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciocreserviciosconexos</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">2% por medición en baja tensión</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciodosporcientobajatension</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">% de Bonificación de F de P.</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#preciodecuentobonificacion</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">IVA 16%</th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#customamt3</th>
									</tr>
									<tr colspan="12" bgcolor="#FFFFFF" style="border: 1px solid #000;">
										<th colspan="6" style="font-size: 12px; text-align: left; border: 1px solid #000;">Cargo total por esta factura </th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right;"></th>
										<th colspan="6" style="font-size: 12px; text-align: right; border: 1px solid #000;">#ToPayAmount</th>
									</tr>
								</table>
								
                                <table class="borderline" style="margin-top: 2em;">
                                    <tr colspan="8">
                                        <td><img src="#FooterImg"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!--this is for Address-->

            <!--<tr class="information">
                <td colspan="2">
                    <table style="border-spacing: 0px !important;border: 3px dashed #999;border-radius: 2px;
    margin: 10px 0.5%;">
                        <tr>
                            <td colspan="6" width="25%" style="float: left;">
                                <table>
                                    <tr colspan="12">
                                        <td colspan="12">
                                            <table colspan="12">
                                                <tr colspan="12">
                                                    <td class="title">
                                                        <img src="#hlogo" height="70" width="200" />
                                                    </td>
                                                </tr>

                                                <tr colspan="12">
                                                    <td colspan="6" width="200px" style="font-size: 12px;font-weight: bold;line-height: 9px; vertical-align: top;">#TenantAdd1, #TenantAdd2</td>

                                                <tr colspan="12">
                                                    <td colspan="6" width="200px" style="font-size: 12px;font-weight: bold;line-height: 9px; vertical-align: top;">#TCity, #TS</td>
                                                <tr colspan="12">
                                                    <td colspan="6" width="200px" style="font-size: 12px;font-weight: bold;line-height: 9px;vertical-align: top;">#TC</td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="6" width="40%" style="float: left;  margin-left: 2%;">
                                <table>
                                    <tr colspan="12">
                                        <td colspan="12">
                                            <table colspan="12">
                                                <tr colspan="12">
                                                    <td colspan="12">
                                                        <table colspan="12">
                                                            <tr colspan="12">
                                                                <td colspan="6" width="200px" style="font-size: 13px;font-weight: bold;line-height: 9px; vertical-align: top;">Periférico Blvrd Manuel Ávila Camacho 261</td>
                                                            </tr>

                                                            <tr colspan="12">
                                                                <td colspan="6" width="200px" style="font-size: 13px;font-weight: bold;line-height: 9px; vertical-align: top;">Miguel Hidalgo, CDMX</td>
                                                            </tr>

                                                            <tr colspan="12">
                                                                <td colspan="6" width="200px" style="font-size: 13px;font-weight: bold;line-height: 9px; vertical-align: top;">Teléfono: 8525-8063</td>
                                                            </tr>
                                                            <tr colspan="12">
                                                                <td colspan="6">
                                                                    Preguntas: norberto.sanchez@puertapolanco.com.mx<br />
                                                                </td>
                                                                <td colspan="6"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="#barc" style=" margin-right: 15%;" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="6" width="30%" style="float: left;  margin-left: 2%;">
                                <table>
                                    <tr colspan="12">
                                        <td colspan="12">
                                            <table colspan="12">
                                                <tr colspan="12">
                                                    <td colspan="12">
                                                        <table colspan="12">
                                                            <tr colspan="12">
                                                                <td colspan="6" width="200px" style="font-size: 13px;font-weight: bold;line-height: 9px;    vertical-align: top;">Número de Cuenta: </td>
                                                            </tr>
                                                            <tr colspan="12">
                                                                <td colspan="6" style="font-size: 13px;font-weight: bold;line-height: 9px;    vertical-align: top;"></td>
                                                            </tr>
                                                            <tr colspan="12" class="itemaccount" bgcolor="#ccc" style="">
                                                                <th colspan="3"> Fecha de Emisión</th>
                                                                <th colspan="3">#Statement </th>
                                                            </tr>
                                                            <tr colspan="12" class="itemaccount" bgcolor="#ccc" style="">
                                                                <th colspan="3">Total a Pagar</th>
                                                                <th colspan="3">#ToPayAmount </th>
                                                            </tr>
                                                            <tr><td></td></tr>
                                                            <tr><td></td></tr>
                                                            <tr colspan="12">
                                                                <td colspan="6" style="font-size: 13px;font-weight: bold;line-height: 9px;    vertical-align: top;"></td>
                                                            </tr>
                                                            <tr colspan="12">
                                                                <td colspan="6" style="font-size: 13px;font-weight: bold;line-height: 9px;    vertical-align: top;">Puede Entregar este Talón con su Pago </td>
                                                            </tr>
                                                            <tr><td></td></tr>
                                                            <tr><td></td></tr>

                                                            <tr colspan="12" class="itemaccount" bgcolor="#ccc" style="">
                                                                <th colspan="12">Cantidad Pagada</th>
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>-->

        </table>
    </div>
</body>

</html>

   