@model TenantMNG.ViewModel.UserMasterVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutTenant.cshtml";
}
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Dashboard", "Tenant")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Account</a> <a href="#" class="current">Profile</a> </div>

</div>
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Change Password</h5>
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("~/Views/Shared/_ChangPassword.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

